#footer {
  text-align:center;
}

.button-element {
  display: inline-block;
  clear: both;
}

#new-post-button {
  padding-left: 30px;
}

#index-header {
  text-align: center;
}

#about-page {
  text-align: center;
}

#contact-page {
  text-align: center;
}

#posts-header {
  padding-left:5%;
}
