<h2>About Our Blog</h2>

<p>The Object Oriented Programming blog strives to bring you up to date discussions on today's hot issues.<br>
  We hope that we can influence others to join the coding community or help veteran coders become even better.<br>
  Right now our primary focus is learning Ember, which can be very confusing and challenging.</p>
