<h2 id="title">Object Oriented Programming</h2>

{{outlet}}

<hr>
{{#link-to 'index'}}Back to Home{{/link-to}}
<br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
<br>
{{#link-to 'about'}}Click here to learn about us.{{/link-to}}
